@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-shadow-container {
  margin: 0 auto;
  width: 1200px;
  background: #FFFFFF;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/*Pages*/

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 449px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-left: 70px;
  margin-bottom: -6px;
  position: relative;
}

.logo {
  display: block;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.hero-logo {
  padding: 51px 371px 82px;
}

.navigation-link.button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  font-weight: 700;
  padding: 8px 34px;
  margin-top: 14px;
}

.hero {
  background-image: url("../images/background-index.jpg");
  background-repeat: no-repeat;
  background-size: 100% 485px;
  background-color: #82B3D3;
  color: #000000;
  min-height: 485px;
}

/*Intro*/

.intro-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 69px auto 25px;
  width: 730px;
}

.intro-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0 auto 69px;
}

.intro-slogan.second {
  margin: 64px auto 20px;
}

.intro-text.second {
  margin: 0 auto 64px;
}

/*Advantages*/
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 230px;
  min-height: 160px;
  text-align: center;
  margin: 0;
  padding: 112px 85px;
}

.advantages-item-white {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-weight: 400;
  display: flex;
  min-height: 385px;
  width: 1200px;
}

.advantages-item-white-container {
  padding: 102px 85px;
  margin: 0;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px 62px;
}

.advantages-description {
  margin: 0;
}

/*Tips*/
.tips-list {
  display: flex;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.tips-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.tips-item {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}

/*Search*/
.search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
  width: 592px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 20px;
  margin: 0;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
  margin: 0;
}

/*Filter and Catalog*/

.filter {
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% 412px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
}

.breadcrumbs-list {
  list-style-type: none;
  padding-left: 70px;
  padding-top: 8px;
  display: flex;
}

.breadcrumbs-link {
  color: #FFFFFF;
  padding-right: 10px;
}

.filter-list {
  list-style-type: none;
}

.filter-form {
  padding-left: 70px;
}

.filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.result-container {
  display: flex;
  min-height: 49px;
  padding-bottom: 40px;
  padding-top: 50px;
  padding-left: 70px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.hotels-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  display: block;
  padding-right: 192px;
}

.select-control {
  margin: 0;
  min-width: 292px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  border: 2px solid #E5E5E5;
}

.button-show-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-items: start;
  gap: 8px;
}

.button-show-link {
  min-width: 48px;
  min-height: 48px;
  display: block;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
}

.button-show-link.button-show-current {
  border: 2px solid #000000;
}

.hotel-card-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 345px 345px 345px;
  gap: 20px;
  margin-bottom: 80px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 0;
  padding: 0;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: 212px 1fr;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  margin: 0;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel {
  margin: 0;
  grid-column: 1/2;
}

.hotel-card-title {
  margin: 0;
}

.hotel-price {
  margin: 0;
  text-align: right;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 70px;
  padding-bottom: 60px;
  gap: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 23px;
  height: 36px;
  padding: 11px 24px;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.pagination-link.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-link.pagination-dots {
  color: #000000;
  background: #FFFFFF;
}

/*Buttons*/

.button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 4px;
}

.search-button {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  min-width: 376px;
  min-height: 52px;
  padding: 8px 50px;
}

.filter-button {
  background-color: #82B3D3;
  border: none;
}

.hotel-card-details-button {
  background: #756157;
  padding: 8px 22px;
}

.hotel-card-favourite-button {
  background-color: #82B3D3;
  padding: 8px 10px;
}

.hotel-card-green-favourite-button {
  background-color: #7DB54F;
  padding: 8px 10px;
}

.ranking-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  grid-column: 2/-1;

}

.subscribe-button {
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  min-width: 232px;
}

/*Subscription*/
.footer-subscription {
  color: #000000;
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  width: 684px;
  margin: 0 auto;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
  width: 475px;
  margin: 0 auto;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.main-footer-subscription {
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% 415px;
  background-color: #82B3D3;
  color: #FFFFFF;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

/*Footer*/

.telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 142px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  margin-top: 5px;
}

.e-mail {
  width: 87px;
  height: 24px;
  padding: 14px 345px 14px 20px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
}
